<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tipe Pembayaran</th>
      <th>Banks</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0;i < payment.length ; i++){ %>
    <tr>
      <td><%= i+1%></td>
      <td><%= payment[i].type %></td>
      <td>
        <% payment[i].banks.forEach(data=>{ %>
        <span class="badge badge-primary text-sm">
          <%= data.name %>-<%= data.bankName %>-<%= data.accountNumber %>
        </span>
        <% }) %>
      </td>
      <td>
        <% if (payment[i].status === 'Y'){ %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak Aktif </span>
        <% } %>
      </td>
      <td>
        <form
          action="/payment/status/<%= payment[i]._id %>?_method=PUT"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-success">
            <i class="fas fa-status-alt"></i>
            <% if (payment[i].status ==='Y'){ %> Matikan Status <% } else { %> Aktifkan Status <% }
            %>
          </button>
        </form>
        <form
          action="/payment/delete/<%= payment[i]._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <a href="/payment/edit/<%= payment[i]._id %>" class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
